<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0RQ1zmBKS_N9u6adRMFiP-pboBgoBMMw</string>
	<key>GCM_SENDER_ID</key>
	<string>797195494314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyungyu.HMOA-iOS</string>
	<key>PROJECT_ID</key>
	<string>hmoa-3245f</string>
	<key>STORAGE_BUCKET</key>
	<string>hmoa-3245f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:797195494314:ios:55dc6f098f3d94d6b641d3</string>
</dict>
</plist>
